@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: verdana;
    background: #fafafa;
}

p {
    font-family: verdana;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height:100vh;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.title-heading{
    background-color: antiquewhite;
    border-left:5px solid aquamarine;
    padding: 3px;
    padding-left: 10px;
}

.text-heading{
  border-left:5px solid blue;
  padding: 3px;
  padding-left: 10px;
  font-size: 16px;
}

.btn-save{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: white;
    border-color: #7386D5;
    color:#7386D5;
}

.btn-save:hover{
    background-color: #7386D5;
    border-color: #7386D5;
    color:white !important;
}

.btn-cancel{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: white;
    border-color: red;
    color:red;
}

.btn-cancel:hover{
    background-color: red;
    border-color: red;
    color:white;
}

.table-category tr:hover{
  cursor: pointer;
}

.img-heading{
  font-size:15px;
  background-color: antiquewhite;
  border-left:5px solid aquamarine;
  padding: 5px;
  padding-left: 10px;
}
