body {
    background-color:white;
    font-family: museo-sans,Arial,sans-serif !important;
    font-weight: 500;
    font-style: normal !important;
    color: #392A13 !important;
}

p, h3, h5,h6
 {
    font-family: museo-sans,Arial,sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    color: #362710 !important;
}

.top-bar {
    background-color: #F3ECD3;
    color: #A88B61;
    }
    
    
.navbar {
    padding: 15px 10px;
    height: 4.5rem;
    background:#F3ECD3;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #523E21;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #6d7fcc; */
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #6d7fcc; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
/* ---------------------------------------------------------------
              occasion menu styles
------------------------------------------------------------------*/
#occasion-menu{
    position: sticky;
    z-index: 100;
    top: 0;
    height: 35px;
    background-color:#F3ECD3;
    padding: 7;
    font-size: 14px;
    }
    .dropdown{
    position: relative;
    display: inline-block;
    }
    .icon
    .occasions-bar
    {
    color:red;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #2a2a2a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    }
    
    .dropdown-content a{
    color: #767676;
    text-decoration: none;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    }
    .faIcon{
    height: 3rem;
    margin-top: -.5rem;
    margin-left: .4rem;
    padding-right: .2rem;
    }
    


/* ---------------------------------------------------
    CONTENT,HEADER,FOOTER
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;

}
#head-nav{
    position:fixed; 
    background: #F3ECD3;
}
.nav-buttons{
    background-color:#DEC59A;

}
.icon-label{
    font-size:10px;
     color:#705026; 
   
     text-align: center;
}
.footer-mobile{
    background: #ECE6D6; 
    padding-top: 10px; 
    color:#705027;
   
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* 

body {
    background-color: white;
    font-family: museo-sans, Arial, sans-serif !important;
    font-weight: 500;
    font-style: normal !important;
    color: #392A13 !important;
}

p,
h3,
h5,
h6 {
    font-family: museo-sans, Arial, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    color: #392A13 !important;
} */

.top-bar {
    background-color: #F3ECD3;
    color: #A88B61;
}

#prod-image-div {
    /* background-color: cornflowerblue; */
    float: left;
    width: 100%;
    overflow: hidden;
}

#prod-deatils {
    /* background-color: cyan; */
    float: left;

    width: 100%;
}

.main-div {
    margin-top: 10px;
}

.checked {
    color: orange;
}

.check {
    opacity: 0.5;
    color: #996;

}



/* ---------------------------------------------------------------
              cakes grids and cards styles
------------------------------------------------------------------*/

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading.heading-icon {
    display: block;
}

.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}

.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}

.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;

    padding: 10px 0;
}

.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.practice-area .inner img {
    display: inline-block;
}

.our-webcoderskull .cnt-block {
    float: left;
    width: 100%;
    background: #fff;
    /* padding: 30px 20px; */
    text-align: center;
    /* height: 400px; */
    /* border: 2px solid #d5d5d5; */
    /* margin: 0 0 28px; */
}

.our-webcoderskull .cnt-block figure {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
    width: 100%;
    height: 100%;
    /* border-radius: 100%; */
}
.card-img-top{
    height:200px !important;
}
.our-webcoderskull .cnt-block h3 {
    color: #392A13;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
    color: #337ab7;
}

.our-webcoderskull .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.checked {
    color: orange;
}

.unchecked {
    color: black;
}

.footer {
    padding: 10px;
    background-color: #ECE6D6;
    text-align: left;
    font-size: 12px;

}

#footer-row {

    margin-top: 10px;
}

#footer-row a {
    text-decoration: none;
    color: #53301B;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

#occasion-menu a:hover {
    color: #392A13;
}

.faIcon {
    height: 3rem;
    margin-top: -.5rem;
    margin-left: .4rem;
    padding-right: .2rem;
    color: #53301B;
}

.footer-mobile:a {
    color: #53301B !important;
}
/* PRODUCT IMAGES AND DESCRIPTION */

#prod-image-div {
    float: left;
    width: 100%;
    overflow: hidden;
}

#prod-deatils {
    float: left;
    
    width: 100%;
}

.main-div {
    margin-top: 10px;
}

.checked {
    color: orange;
}

.check {
    opacity: 0.5;
    color: #996;

}



.btn1 {
    background-color: #ed4027 !important;
    border: solid 1px #ed4027 !important;
    color: white !important;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
}

.btn1:hover {
    opacity: 1 !important;
    border: #ed4027 solid 1px !important;
    color:white !important;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item .imgOwl {
    display: block;
    width: 95%;
    height: 150px;
}
.img1 {
    height: 100%;
    width: 100%;
}

.slide-display {
    height: 300px;
    border: none;
    padding: 2px;

}
.cart-items
{
    color: #53301B !important;
}
.slide-display .img1 {
    align-content: center;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checkout-page{
    width:100% !important;
    text-align:left !important;
    text-decoration:none !important;
    color:inherit !important;
}

@media only screen and (max-width: 600px) {
    .smaller-screens {
        visibility: visible !important;
    }

    .our-webcoderskull, .checkout-div {
        margin-top: -550px !important;
    }

    .our-webcoderskull .cnt-block {
        /* height: 410px !important; */
    }

    .footer-mobile {
        display: block !important;
    }

    .top-bar,
    .main-navbar,
    #occasion-menu,
    #banner-carousel,
    #footer-main {
        display: none !important;
    }
    
}

@media only screen and (min-width: 1400px) {
    .our-webcoderskull {
        margin-top: -950px !important;
    }
}

@media only screen and (max-width: 600px) {
    .smaller-screens{
      visibility :visible !important;            
    }
    .footer-mobile{
        display: block !important;
    }
    .main-div{
        margin-top:-570px !important;
    }
    .top-bar,.main-navbar,#occasion-menu, #banner-carousel,#footer-main{
      display:none !important;
    }
    .cart-text{
        font-size:13px !important;
    }
  }
@media only screen and (min-width: 1400px) {
    .main-div,.checkout-div,.payment-details{
    margin-top: -900px !important;
  }
  } 
/* Sign up form */
  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  
  input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  
  img {
    max-width: 100%;
    height: auto; }
  
  figure {
    margin: 0; }
  
  p {
    margin-bottom: 0px; }
  
  h2 {
    line-height: 2.5;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px; }
  
  .clear {
    clear: both; }
  
  /* body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    background: #e7f0fd;
    font-weight: 600;
    font-family: Poppins;
    margin: 0px; }
   */
  /* .main {
    padding: 150px 0;
    position: relative; }
  
  h1 {
    position: absolute;
    font-weight: 700;
    font-size: 174px;
    color: #fff;
    opacity: 0.5;
    right: 105px;
    top: 45px;
    top: -149px;
    z-index: 9; } */
  
  /* .container {
    width: 520px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; } */
  
  /* .sign-up-content {
    padding: 40px 60px 32px 60px;
    position: relative;
    z-index: 99; }
  
  .form-radio {
    margin: 0 -10px;
    margin-bottom: 40px; }
    .form-radio input {
      width: 0;
      height: 0;
      position: absolute;
      left: -9999px; }
    .form-radio input + label {
      margin: 0 8px;
      padding: 11px 31px;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      border: solid 2px #ebebeb;
      background-color: #FFF;
      font-size: 14px;
      font-weight: 600;
      color: #888;
      text-align: center;
      transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px; }
    .form-radio input:checked + label {
      background-color: #1da0f2;
      color: #FFF;
      border-color: #1da0f2;
      z-index: 1; }
    .form-radio input:focus + label {
      outline: none; }
    .form-radio input:hover {
      background-color: #1da0f2;
      color: #FFF;
      border-color: #1da0f2; } */
  
  input {
    border: solid 2px #ebebeb;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins;
    padding: 16px 30px 16px 140px; }
  
  .form-textbox {
    position: relative; }
    .form-textbox label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-weight: 600;
      color: #888;
      font-size: 14px; }
  
  #name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  
  #pass {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  
  #email {
    border: none;
    border-left: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb; }
  
  input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }
  
  input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 45px; }
  
  input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 2px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }
  
  input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }
  
  input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.1;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }
  
  /* .label-agree-term {
    color: #888; } */
  
  .term-service {
    color: #1da0f2;
    text-decoration: none; }
    .term-service:hover {
      text-decoration: underline; }
  
  /* .submit {
    background: #1da0f2;
    color: #FFF;
    border: none;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    .submit:hover {
      background: #0c85d0; } */
  
  .loginhere {
    text-align: center;
    color: #888;
    margin-top: 63px; }
  
  .loginhere-link {
    color: #1da0f2;
    text-decoration: none; }
    .loginhere-link:hover {
      text-decoration: underline; }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset; }
  
  @media screen and (max-width: 768px) {
    .container {
      width: calc( 100% - 30px);
      max-width: 100%; } }
  @media screen and (max-width: 575px) {
    .sign-up-content {
      padding: 40px 20px 32px 20px; }
  
    .form-radio input + label {
      display: block;
      margin-bottom: 10px; } }
  @media screen and (max-width: 400px) {
    .form-textbox label {
      left: 15px; }
  
    input {
      padding: 16px 30px 16px 100px; } }
  
  /*# sourceMappingURL=style.css.map */
  